@import '../../variables';

.more {
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #2196f3;
  color: $color-bg-component;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}
