@import '../variables';
.card {
  box-sizing: border-box;
  height: 184px;
  background-color: $color-bg-component;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.06);
  display: grid;
  grid-template-rows: repeat(3, min-content);

  @media (max-width: 460px) {
    padding: 8px;
  }
}

.card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__price {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-main;
}

.card__there {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
}

.card__back {
  height: 40px;
  display: flex;
}
p {
  margin: 0;
}

.card__there,
.card__back {
  div {
    width: 141px;
    text-align: left;
  }
  div:not(:last-child) {
    margin-right: 20px;
  }
}
